body{
	background-color: rgb(204, 204, 204)
}
h1{
	text-align:center;
}
.playlist{
	border: 2px solid black;
	background-color: rgb(255, 255, 255);
	border-radius:10px;
}
a{
	text-decoration-line: none;
}
li{
	list-style-type: none;
}
.now-playing{
    border: 2px solid black;
	background-color: rgb(255, 255, 255);
	border-radius:10px;
}
.player_one{
	background-color: rgb(255, 255, 255);
}
h2{
	text-align:center;
}
.player_two{
	background-color: rgb(255, 255, 255);
}